.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gallery {
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 20px 0 20px 0;
  background-color: rgb(18, 18, 94);
}
input {
  width: 400px;
  height: 50px;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;

  border-radius: 5px;
  cursor: pointer;
  background-color: #b5a6b5;
}

button:hover,
button:focus {
  background-color: #3e2b95b8;
  color: #fff;
  border-color: red;
}

.more {
  margin: 0 auto;
}
